[submodule "core/lib/forge-std"]
	path = core/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "core/lib/solady"]
	path = core/lib/solady
	url = https://github.com/vectorized/solady
[submodule "core/lib/erc721a"]
	path = core/lib/erc721a
	url = https://github.com/chiru-labs/erc721a
[submodule "extension/lib/forge-std"]
	path = extension/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "extension/lib/modular-contracts"]
	path = extension/lib/modular-contracts
	url = https://github.com/thirdweb-dev/modular-contracts
[submodule "extension/lib/solady"]
	path = extension/lib/solady
	url = https://github.com/vectorized/solady
[submodule "core/lib/ERC721A-Upgradeable"]
	path = core/lib/ERC721A-Upgradeable
	url = https://github.com/chiru-labs/ERC721A-Upgradeable
