[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/erc721a"]
	path = lib/erc721a
	url = https://github.com/chiru-labs/erc721a
[submodule "lib/ERC721A-Upgradeable"]
	path = lib/ERC721A-Upgradeable
	url = https://github.com/chiru-labs/ERC721A-Upgradeable
[submodule "lib/creator-token-contracts"]
	path = lib/creator-token-contracts
	url = https://github.com/limitbreakinc/creator-token-contracts
[submodule "lib/creator-token-standards"]
	path = lib/creator-token-standards
	url = https://github.com/limitbreakinc/creator-token-standards
[submodule "lib/PermitC"]
	path = lib/PermitC
	url = https://github.com/limitbreakinc/PermitC
[submodule "lib/chainlink.git"]
	path = lib/chainlink.git
	url = https://github.com/smartcontractkit/chainlink.git
